<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <tile></tile>
  <meta charset="UTF-8">
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Match</h1>

  <h1>[[${user1}]]V.S.[[${user2.name}]]</h1>
  <p th:each="user2:${user2}">
    <a th:href="@{/fight(id=${user2.id}, hand=Gu)}">ぐー</a>
    <a th:href="@{/fight(id=${user2.id}, hand=Choki)}">ちょき</a>
    <a th:href="@{/fight(id=${user2.id}, hand=Pa)}">ぱー</a>
  </p>

  <a href="janken">もどる</a>
</body>
