<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <tile></tile>
  <meta charset="UTF-8">
</head>

<body>
  <a href="/logout">ログアウト</a>
  <h1>Match</h1>

  <h1>[[${user1}]]V.S.CPU</h1>

  <a href="/fight?id=1&hand=Gu">ぐー</a>
  <a href="/fight?id=1&hand=Choki">ちょき</a>
  <a href="/fight?id=1&hand=Pa">ぱー</a>

  <p>
  <div th:if="${ihand}">
    あなたの手 [[${ihand}]]
  </div>
  </p>
  <p>
  <div th:if="${cphand}">
    相手の手 [[${cphand}]]
  </div>
  </p>
  <p>
  <div th:if="${result}">
    結果 [[${result}]]
  </div>
  </p>

  <a href="janken">もどる</a>
</body>
